/*
* carrusel.css
*/
.product-list.grid-view .product-item__price {
  align-items: flex-start;
  flex-direction: column;
  min-height: 33px;
}
.product-item__action > .js-buy-plp {
  bottom: 13px;
}
/*
* Media queries
*/
@media screen and (min-width: 360px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .product-list.grid-view .product-item__price {
    align-items: center;
    flex-direction: row;
    min-height: auto;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
}
