/*
* Colores
*/
body {
  --color-gray: #ebebeb;
  --color-gray-2: #d6d4d4;
  --color-gray-3: #bdbdbd;
  --color-gray-4: #f7f7f7;
  --color-blue: #101e8e;
  --color-white: #ffffff;
  --color-green: #8fbc28;
  --color-green-2: #93d500;
  --jugueton-green: #00a85d;
  --celeste: #0cb7e1;
  --verde: #00ac54;
  --yellow: #fece62;
  --orange: #ff8300;
}

/*
* Headings
*/

/*
* Botones
*/

/*
* Iconos
*/

/*
* Contenedores
*/

/*
* Banners
*/

/*
* Spiffs
*/
