.red-instagram {
  padding-right: 5px;
}

/*Tiendas*/
.titulos-tiendas {
  font-size: 29px;
  font-weight: bold;
  display: block;
  font-family: "helveticaneuemedium";
  text-align: center;
}
